.add-habit-section-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.add-habit-section-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.add-habit-section-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-section {
  margin: 20px;
}

.container-add-habit {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.container-add-habit p{
  margin-top: 20px;
}

.input {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 1px 4px #0c0c0d17;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  margin-top: 0px;
}

input::placeholder {
  color: var(--secondary-font-color);
}

input:hover {
  border: 2px solid var(--primary-color);
}

input:focus {
  border: 2px solid var(--primary-color);
}

input:active {
  border: 2px solid var(--primary-color);
}

.btn-primary-check {
  margin-top: 1.5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 65%;
}

@media (min-width: 768px) {
  .container-rese {
    width: 800px;
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-check {
  color: var(--secondary-color);
  text-decoration: none;
}

.header {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header img {
  margin-bottom: 18px;
  margin-right: 10px;
}

img {
  width: 35px;
  justify-content: center;
  display: flex;
}

.link-roadmap {
  text-decoration: none;
  color: #3983E4;
}