.input-decor {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 1px 4px #0c0c0d17;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.nama-habit {
  margin: 10px 1rem ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.section > div {
  display: flex;
  align-items: start;
  flex-direction: column;
  /* gap: .5rem; */
  /* background-color: red; */
  /* height: 3rem; */
  margin-bottom: 2rem;
  /* width: 100%; */
}

.section > div select {
  /* background-color: red; */
  height: 100%;
}

.section > div > div {
  display: flex;
  flex-direction: row;
  text-align: start;
  /* flex: 1; */
}


.section > div > :not(:first-child) { 
  /* width: fit-content; */
  /* background-color: red; */
  /* min-width: 0; */
  display: flex;
  gap: 10px;
  width: 100%;
  flex: 1;
}

.section > div > :not(:first-child) select {
  flex: 1;
}


.section > div > div:first-child { 
  /* background-color: #3983E4; */
  width: 200px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.section > div > div img { 
  /* background-color: #3983E4; */
  /* width: 100px; */
  margin-right: 10px;
}

.container h3 {
  font-size: 1.5rem;
}

img {
  width: 2rem;
  height: 2rem;
  justify-content: center;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  margin: 5px;
}

.nama-habit input {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  box-shadow: 0px 1px 4px #0c0c0d17;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  margin-top: 0px;
}

select {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 10px;
  /* padding: 1rem; */
  padding-left: 5px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 1px 4px #0c0c0d17;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.times {
  /* margin-bottom: 40px; */
  /* height: 40px; */
}

.times input {
  margin: 0;
}

.times > :not(:first-child) {
  display: flex;
  align-items: start;
  /* margin-right: .3rem; */
  /* background-color: red; */
}

.times > :not(:first-child) div {
  display: flex;
  height: 30px;
  align-items: center;
  margin-right: .3rem;
}

input {
  height: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 1px 4px #0c0c0d17;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  
}

input[type="checkbox"] {
  width: 20px; 
  height: 20px;
  border-radius: 4px;
  margin-right: 5px;
}

input[type="number"] {
  width: 70px;
  text-align: center;
  /* background-color: red; */
}

input::placeholder {
  color: var(--secondary-font-color);
}

input:hover {
  border: 2px solid var(--primary-color);
}

input:focus {
  border: 2px solid var(--primary-color);
}

input:active {
  border: 2px solid var(--primary-color);
}

.btn-primary-check {
  margin-top: 1.5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 65%;
}

@media (min-width: 768px) {
  .container-add-habit {
    width: 800px;
  }
}


.link-check {
  color: var(--secondary-color);
  text-decoration: none;
}

.header {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.link-roadmap {
  text-decoration: none;
  color: #3983E4;
}

.custom-mark {
    width: 25px; 
    height: 25px;
    border-radius: 4px;
    /* margin-right: 8px; */
}

.date {
  composes: input-decor;
  margin-top: 0px;   
  width: 40px; 
  /* height: 20px; */
}