@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* LIGHT MODE (Default) */
:root {
  /* BACKGROUNDS */
  --background-color: #f2f5f7; /* Slightly grey so cards pop */
  --surface-color: #ffffff; /* Cards, Headers, Inputs */

  /* Layout */
  --sidebar-width: 15%;

  /* MAIN COLORS */
  --primary-color: #38acff;
  --primary-hover: #2c6bb0; /* Darker version for hover */
  --secondary-color: #474747;

  /* TEXT */
  --font-color: #1a2126;
  --secondary-font-color: #66666679;
  --on-primary: #f7f7f7; /* Text color inside primary buttons */

  /* UTILITIES */
  --border-color: #e0e0e0; /* Subtle lines */
  --shadow-color: #e3e6e8;
  --error-color: #e74c3c; /* For form validation */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* BACKGROUNDS */
    --background-color: #121416;
    --surface-color: #1e2329;

    /* LAYOUT */
    --sidebar-width: 15%;

    /* MAIN COLORS */
    --primary-color: #38acff;
    --primary-hover: #62baff;
    --secondary-color: #cfd8dc;

    /* TEXT */
    --font-color: #eef1f5;
    --secondary-font-color: #94a3b8;
    --on-primary: #f7f7f7;

    /* UTILITIES */
    --border-color: #2f3640;
    --shadow-color: #000000;
    --error-color: #ff6b6b;
  }
}

/* :root {
  --background-color: #121212;
  --primary-color: #3983e4;
  --secondary-color: #b3b3b3;
  --font-color: #e4e4e4;
  --secondary-font-color: #a1a1a179;
} */

* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat";
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100%;
  width: 100%;
  font-size: 12px;
}

#root {
  display: flex;
  justify-content: center;
}
