.container{
    width: 100%;
    display: flex;
    padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 1rem;
  box-sizing: border-box;
}

.streak {
  display: flex;
  align-items: center;
}

.streak span {
  font-size: 1.5rem;
}

.menuBtn {
  background: none;
  border: none;
  padding: 0;     
  display: flex;  
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}