/* src/assets/Styles/habitTabs.module.css */
.nav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.navItem {
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--secondary-font-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.navItem:hover {
  color: var(--primary-color);
}

.active {
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-color);
}
