div,
img,
p {
  background-color: transparent;
}

.wrapper {
  width: 100%;
  
}

<<<<<<< HEAD
/* @media (min-width: 768px) {
    .outerContainer {
        position: static;
        flex-direction: row;
=======
@media (min-width:768px){
    .wrapper {
        padding-left: var(--sidebar-width);
>>>>>>> 70f01818cd8b4e607a404f8f97ed74f9f7d47033
    }
} */


.container {
  margin: 0 20px;
}

.container > div p {
  color: gray;
  margin-right: 20px;
  font-size: medium;
}

.container > div {
  display: flex;
  justify-content: space-between;
}

/* habit item */
.cardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.card {
  border-radius: 8px;
  /* background-color: red; */
  padding: 16px 0 16px 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background-color: white;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  display: flex;
}

.card > div:first-child {
  display: flex;
  justify-content: space-between;
}

.card div {
  display: flex;
  align-items: center;
}

.card img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.card p {
  width: 200px;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  word-break: break-word;
  white-space: normal;
}

.addHabitBtn {
  border-radius: 4px;
  color: white;

  width: fit-content;
  position: absolute;
  bottom: 20%;
  right: 20px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 10px;
}

.groupedCard > div {
  border-radius: 8px;
  width: 100%;
  padding: 16px 0 16px 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  justify-content: space-between;
  margin: 0 20px 1rem 0;
}
