
div, img, p {
    background-color: transparent;
}



/* habit */
.outerContainer {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 20px;
}

.container p {
    color: gray;
    font-size: medium;
}

.container > div {
    display: flex;
    justify-content: space-between;
}




/* habit item */
.cardContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.card {
    border-radius: 8px;
    padding:  16px 0 16px 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    background-color: white;
    justify-content: space-between;
    display: flex;
}

.card div {
    display: flex;
    align-items: center;
}

.card img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.card p {
    width: 200px;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    word-break: break-word;
    white-space: normal;
}