div,
img,
p {
  background-color: transparent;
}

.wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: var(--sidebar-width);
  }
}

.container {
  margin: 0 20px;
}

.container > div p {
  color: var(--font-color);
  margin-right: 20px;
  font-size: medium;
}

.container > div {
  display: flex;
  justify-content: space-between;
}

/* habit item */
.cardContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.card {
  border-radius: 8px;
  /* background-color: red; */
  padding: 16px 0 16px 16px;
  box-shadow: 0 2px 5px var(--shadows-color);
  margin-bottom: 1rem;
  background-color: var(--surface-color);
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  display: flex;
}

.card > div:first-child {
  display: flex;
  justify-content: space-between;
}

.card div {
  display: flex;
  align-items: center;
}

.card img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.card p {
  width: 200px;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  word-break: break-word;
  white-space: normal;
}

.addHabitBtn {
  color: var(--background-color);
  font-weight: bold;
  border-radius: 50%;
  width: 5rem;
  margin-top: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10dvh;
  right: 20px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  height: 5rem;
}

.groupedCard > div {
  border-radius: 8px;
  width: 100%;
  padding: 16px 0 16px 16px;
  box-shadow: 0 2px 2px var(--shadows-color);
  background-color: var(--background-color);
  justify-content: space-between;
  margin: 0 20px 1rem 0;
}

.wrapperCard {
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
}

.popUp {
  position: absolute;
  left: 5%;
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--surface-color); */

  z-index: 10;
  width: 95%;
  height: 100%;
}

.popUpBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px var(--shadows-color);
  border-radius: 8px;
}

.popUp > .card {
  /* width: 300px;
  height: 200px; */
  padding: 1rem;
  margin: 0;
  z-index: 11;
  background-color: var(--surface-color);
  /* background-color: red; */
  box-shadow: 0 2px 5px var(--shadows-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.popUp input[type="number"] {
  /* width: 50px; */
  margin-right: 8px;
}

@media (max-width: 768px) {
  .popUp {
    /* background-color: red; */
    left: 0;
    /* width: 400px;
    height: 250px; */
  }
}
