.container {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  margin: 1rem 2rem;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.input {
  background-color: var(--background-color);
  color: var(--font-color);
  margin-top: 1rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 1px 4px #0c0c0d17;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

input::placeholder {
  color: var(--secondary-font-color);
}

input:hover {
  border: 2px solid var(--primary-color);
}

input:focus {
  border: 2px solid var(--primary-color);
}

input:active {
  border: 2px solid var(--primary-color);
}

.btn-primary {
  margin-top: 1.5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

p {
  margin-top: 5rem;
  color: var(--secondary-font-color);
}

.alt-login {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 3.6rem;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 4.5rem;
  height: 4.5rem;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}


.reset-link{
  color: var(--primary-color);
  text-decoration: none;;
  display: flex;
  text-align: end;
}

.toggle-show {
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  bottom: 3.4rem;
  left: 19rem;
}

.reset-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}