.pageWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
   background-color: var(--background-color); 
}

.container {
  background-color: var(--surface-color);
  border-radius: 1rem;
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-direction: column;
  width: 500px;
  height: 500px;
  box-shadow: 0px 1px 4px var(--shadow-color);
}

.orSign {
  margin-top: 8rem;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
    height: 500px;
  }
}

.form-box {
  width: 100%;
  margin: 1rem 2rem;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.input {
  background-color: var(--background-color);
  color: var(--font-color);
  margin-top: 1rem;
  padding: 1.2rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 1px 4px var(--shadow-color);
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

input::placeholder {
  color: var(--secondary-font-color);
}

input:hover {
  border: 2px solid var(--primary-color);
}

input:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

input:active {
  border: 2px solid var(--primary-color);
}

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.input-wrapper img {
  width: 1.5rem;
  height: auto;
  /* opacity: 50%; */
}

.hide {
  opacity: 30%;
}

.peek {
  position: absolute;
  right: 2rem;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  color: #666;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.btn-primary {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
  color: var(--on-primary);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

p {
  margin-top: 5rem;
  color: var(--secondary-font-color);
}

.alt-login {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 3.6rem;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.alt-login img {
  width: 4rem;
  height: auto;
}

.icon {
  width: 4.5rem;
  height: 4.5rem;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 0.5rem;
}

.reset-link {
  color: var(--primary-color);
  text-decoration: none;
}

.toggle-show {
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  bottom: 3.4rem;
  left: 19rem;
}

.reset-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
    margin-bottom: 2.5rem;
}
