.container {
  background-color: var(--background-color);
  width: 50%;
  min-height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 100;
  border-right: solid 0.1rem var(--border-color);
}

.active {
  transform: translateX(0);
}

.header {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header img {
  width: 8rem;
  object-fit: contain;
}

.BurgerIcon {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;
  z-index: 100;
}

.nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.1rem var(--border-color);
}

.link {
  display: flex;
  margin-top: 10px;
  text-decoration: none;
  align-items: center;
  border-radius: 3px;
  padding: 7px;
  gap: 5px;
  color: var(--font-color);
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-color: var(--primary-color);
}

.link:hover span {
  color: var(--background-color);
}

.link span {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.activeLink {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
}

.activeLink span {
  color: var(--background-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}
.overlayActive {
  opacity: 1;
  visibility: visible;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 19px;
  justify-content: space-between;
  border-top: solid 0.1rem var(--border-color);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile:hover {
  cursor: pointer;
}

.profile span {
  margin-left: 0.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    width: var(--sidebar-width, 15%);
    position: fixed;
    transform: translateX(0);
    left: 0;
    top: 0;
    height: 100vh;
    transition: none;
  }

  .overlay {
    display: none;
  }

  .BurgerIcon {
    display: none;
  }
}
